<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^about/?$ /about/index.html [L]
  RewriteRule ^services/?$ /services/index.html [L]
  RewriteRule ^maintenance-plan/?$ /maintenance-plan/index.html [L]
  RewriteRule ^contact/?$ /contact/index.html [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
